<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <section>
        <div class="card mr-3 ml-3" >
            <div class="card-body text-center">
                <img src="" style="height: 200px; width: 200px;" class="profile_image" th:src="@{'/img/'+${user.imageUrl}}" alt="profile photo">
                <h1 class="mt-2"><span th:text="${user.name}"></span></h1>
                <table class="table text-center mL-2 mr-2">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#UserID</th>
                        <th scope="col" th:text="${'USID206'+user.id}"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Email</th>
                        <td th:text="${user.email}"></td>
                      </tr>
                      <tr>
                        <th scope="row">Account Active</th>
                        <td th:if="${user.enabled} == true" th:text="Active"></td>
                        <td th:if="${user.enabled} == false" th:text="Disabled"></td>
                      </tr>

                      <tr>
                        <th scope="row">Role</th>
                        <td th:text="${user.role}"></td>
                      </tr>

                      <tr>
                        <th scope="row">About</th>
                        <td th:text="${user.about}"></td>
                      </tr>
                    </tbody>
                  </table>
           </div>
    </section>
   
</body>
</html>