<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>User Dashboard</title>
</head>
<body>
    <section>
       <div class="container">
        <div class="card">
            <div class="card-body text-center">
                <img src=""  th:src="@{/img/addContact.png}" alt="profile photo">
            </div>
            <h1 class="text-center mt-3 text-secondary font-italic font-weight-light mt-5">
               Welcome <span th:text="${user.name}"></span> !!!!!
                </h1>
            <h1 class="text-center mt-3 text-secondary font-italic font-weight-light mt-3">
                Start Adding Your Contacts..!!!!
                </h1>
            
                <div class="container text-center mb-5">
                    <a th:href="@{/user/addContact}" style="width: 200px;" class="btn bg-primary btn-lg text-white mt-5 text-center" >Click Here</a>
                </div>
        </div>
       </div>
    </section>
   
</body>
</html>