<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>Forgot Password</title>
</head>
<body>
    <section>
      <div class="container">
        <div class="rows">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body text-center">
                       
                        <div th:if="${session.message}" style="width: 350px;" class="container text-center">
                            <div  th:classappend="${session.message.type}" class="alert">
                                <span th:text="${session.message.content}" class="text-center"></span>
                                <th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
                               </div>
                            </div>
                       
                        <form th:action="@{/verify-otp}" method="post">

                            <div style="width: 350px; align-items: center;" class="form-group mt-3 container text-center">
                                <input name="otp" type="text" pattern="[0-9]{6}"class="form-control text-center" placeholder="Enter your 6 digit OTP here" title="OTP must contain at least 6 digit:&#10;" required>
                            </div> 

                            <div class="container text-center">
                                <button type="submit" class="btn bg-primary text-white"> Verify OTP </button>
                                <button type="reset" class="btn btn-danger"> Reset </button>
                             </div>
                           
                        </form>
                       
                        
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>
   
</body>
</html>




  